In [2]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\asus\anaconda3\lib\site-packages (4.16.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\asus\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\asus\anaconda3\lib\site-packages (from selenium) (0.23.1)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\asus\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\asus\anaconda3\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: attrs>=20.1.0 in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: cffi>=1.14 in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\asus\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\asus\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\asus\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\asus\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [ ]:
#ANSWER 1&2

In [3]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [5]:
driver = webdriver.Chrome()

In [6]:
driver.get("https://www.shine.com/")

In [37]:
designation = driver.find_element(By.CLASS_NAME,"form-control  ")
designation.send_keys('Data Scientist')

In [30]:
location = driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Bangalore')

In [32]:
search = driver.find_element(By.CLASS_NAME," btn btn-secondary undefined")
search.click()

InvalidSelectorException: Message: invalid selector: An invalid or illegal selector was specified
  (Session info: chrome=120.0.6099.71); For documentation on this error, please visit: https://www.selenium.dev/documentation/webdriver/troubleshooting/errors#invalid-selector-exception
Stacktrace:
	GetHandleVerifier [0x00007FF7C8AC4D02+56194]
	(No symbol) [0x00007FF7C8A304B2]
	(No symbol) [0x00007FF7C88D76AA]
	(No symbol) [0x00007FF7C88DCFC0]
	(No symbol) [0x00007FF7C88DF38F]
	(No symbol) [0x00007FF7C88DF480]
	(No symbol) [0x00007FF7C8921494]
	(No symbol) [0x00007FF7C89217EC]
	(No symbol) [0x00007FF7C8964D77]
	(No symbol) [0x00007FF7C8945EBF]
	(No symbol) [0x00007FF7C8962786]
	(No symbol) [0x00007FF7C8945C23]
	(No symbol) [0x00007FF7C8914A45]
	(No symbol) [0x00007FF7C8915AD4]
	GetHandleVerifier [0x00007FF7C8E3D5BB+3695675]
	GetHandleVerifier [0x00007FF7C8E96197+4059159]
	GetHandleVerifier [0x00007FF7C8E8DF63+4025827]
	GetHandleVerifier [0x00007FF7C8B5F029+687785]
	(No symbol) [0x00007FF7C8A3B508]
	(No symbol) [0x00007FF7C8A37564]
	(No symbol) [0x00007FF7C8A376E9]
	(No symbol) [0x00007FF7C8A28094]
	BaseThreadInitThunk [0x00007FFBB3907344+20]
	RtlUserThreadStart [0x00007FFBB54E26B1+33]

In [19]:
job_title = []
job_location = []
company_name = []
experience_required = []

In [23]:
title_tags = driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
for i in title_tags:
    title = i.text
    job_title.append(title)

In [24]:
job_title

['Data scientist',
 'Data Scientist - Business Intelligence',
 'Data Scientist for Bangalore',
 'Data Scientist - Spark/Python/Redshift',
 'Data Scientist - Machine Learning',
 'Hiring For Data Scientist',
 'Hiring For Data Scientist',
 'Data Scientist',
 'Data Scientist- Associate',
 'Data Scientist Vacancy',
 'Data Scientist- Bangalore',
 'Data Scientist Urgent Recruitment',
 'Data Scientist AI ML CV',
 'Data Scientist AI ML NLP',
 'Phd Data Scientist',
 'Hiring For Data Scientist',
 'Data Scientist - Business Intelligence',
 'Data Scientist-Bangalore',
 'Staff Data Scientist & Team Lead',
 'Data Scientist Associate Sr - NLP']

In [25]:
location_tags = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags:
    location = i.text
    job_location.append(location)

In [26]:
company_tags = driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_tags:
    company = i.text
    company_name.append(company)

In [27]:
exprience_tags = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in exprience_tags:
    exp = i.text
    experience_required.append(exp)

In [28]:
import pandas as pd
df = pd.DataFrame({'Title':job_title,'Location':job_location,'Company Name':company_name,'Experience':experience_required})
df

,Title,Location,Company Name,Experience
0,Data scientist,Bangalore\n+8,capgemini technology services india...,6 to 11 Yrs
1,Data Scientist - Business Intelligence,Bangalore,boyen haddin consulting and technol...,2 to 6 Yrs
2,Data Scientist for Bangalore,Bangalore,get hired,0 to 3 Yrs
3,Data Scientist - Spark/Python/Redshift,Bangalore,boyen haddin consulting and technol...,4 to 8 Yrs
4,Data Scientist - Machine Learning,Bangalore,boyen haddin consulting and technol...,2 to 4 Yrs
5,Hiring For Data Scientist,Bangalore\n+13,kavya interprises,0 to 4 Yrs
6,Hiring For Data Scientist,Bangalore\n+13,kavya interprises,0 to 4 Yrs
7,Data Scientist,Bangalore,ibm india pvt. limited,10 to 12 Yrs
8,Data Scientist- Associate,Bangalore,jpmorgan,4 to 6 Yrs
9,Data Scientist Vacancy,Bangalore\n+14,divya interprises,0 to 4 Yrs
10,Data Scientist- Bangalore,Bangalore,the fashion cosmo,0 to 3 Yrs
11,Data Scientist Urgent Recruitment,Bangalore\n+14,divya interprises,0 to 4 Yrs
12,Data Scientist AI ML CV,Bangalore,bosch group,3 to 5 Yrs
13,Data Scientist AI ML NLP,Bangalore,bosch group,3 to 5 Yrs
14,Phd Data Scientist,Bangalore,bosch group,2 to 5 Yrs
15,Hiring For Data Scientist,Bangalore\n+14,divya interprises,0 to 4 Yrs
16,Data Scientist - Business Intelligence,Bangalore,boyen haddin consulting and technol...,2 to 6 Yrs
17,Data Scientist-Bangalore,Bangalore,shiva hr services,0 to 3 Yrs
18,Staff Data Scientist & Team Lead,Bangalore,true caller,8 to 12 Yrs
19,Data Scientist Associate Sr - NLP,Bangalore,jpmorgan,3 to 5 Yrs

In [ ]:
# ANSWER 3

In [79]:
driver = webdriver.Chrome()

In [82]:
driver.get("https://www.shine.com/")

In [83]:
designation = driver.find_element(By.CLASS_NAME,"form-control  ")
designation.send_keys('Data Scientist')

In [84]:
location = driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Delhi')

In [86]:
salary = driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul[2]/li[1]/div/input[1]')
salary.send_keys('6')

In [93]:
job_title = []
job_location = []
company_name = []
experience_required = []
job_area = []

In [94]:
title_tags = driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
for i in title_tags:
    title = i.text
    job_title.append(title)

In [95]:
location_tags = driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in location_tags:
    location = i.text
    job_area.append(location)

In [96]:
company_tags = driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_tags:
    company = i.text
    company_name.append(company)

In [97]:
exprience_tags = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in exprience_tags:
    exp = i.text
    experience_required.append(exp)

In [98]:
import pandas as pd
df = pd.DataFrame({'Title':job_title,'Location':job_area,'Company Name':company_name,'Experience':experience_required})
df

,Title,Location,Company Name,Experience
0,Data Scientist II,chegg,chegg,3 to 7 Yrs
1,Data Scientist,ericsson,ericsson,1 to 5 Yrs
2,Data Scientist,adept global,adept global,2 to 4 Yrs
3,Data Scientist I/II,idinsight,idinsight,0 to 4 Yrs
4,Senior Data Scientist,xaigi,xaigi,5 to 9 Yrs
5,Interesting Opportunity LatentBridge - Data Sc...,latent bridge,latent bridge,5 to 9 Yrs
6,Lead Data Scientist,navikenz,navikenz,5 to 10 Yrs
7,Senior Data Scientist,roadzen,roadzen,5 to 9 Yrs
8,Jr. Data Scientist,utopiic innovations pvt ltd,utopiic innovations pvt ltd,1 to 5 Yrs
9,Data Scientist,big oh tech,big oh tech,4 to 8 Yrs
10,Data Scientist,iarc,iarc,1 to 5 Yrs
11,Data Scientist,itforte,itforte,3 to 7 Yrs
12,Data Scientist,smarthelio,smarthelio,2 to 6 Yrs
13,Data Scientist,dataner,dataner,2 to 6 Yrs
14,Data Scientist,plopdo,plopdo,4 to 8 Yrs
15,Lead Data Scientist,azimuth,azimuth,10 to 14 Yrs
16,Data Scientist,yamaha motor solutions india,yamaha motor solutions india,2 to 4 Yrs
17,"Senior Engineer, Data Scientist",landis+gyr,landis+gyr,3 to 7 Yrs
18,Lead Data Scientist,naviga inc.,naviga inc.,5 to 9 Yrs
19,Senior Associate -Data Scientist,dmi finance private limited,dmi finance private limited,3 to 7 Yrs

In [78]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

0 0 0 0

In [ ]:
# ANSWER 4

In [4]:
driver = webdriver.Chrome()

In [5]:
driver.get("https://www.flipkart.com/")

In [6]:
product = driver.find_element(By.CLASS_NAME,"Pke_EE")
product.send_keys('sunglasses')

In [7]:
search = driver.find_element(By.CLASS_NAME,"_2iLD__")
search.click()

In [8]:
brand_name = []
pro_des = []
price_in = []

In [9]:

brand = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand:
    brand_name.append(i.text)
    
    
brand_name

['john jacobs',
 'ROYAL SON',
 'SRPM',
 'Fastrack',
 'Fastrack',
 'NuVew',
 'ALFATOORE',
 'VINCENT CHASE',
 'ROADWAY',
 'ROADWAY',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'Elligator',
 'AISLIN',
 'ROADWAY',
 'PC STAR',
 'Singco India',
 'ROYAL SON',
 'The Tinted Story',
 'ROADWAY',
 'Singco India',
 'john jacobs',
 'Fastrack',
 'Elligator',
 'Elligator',
 'Rich Club',
 'VINCENT CHASE',
 'ROYAL SON',
 'Gio Collection',
 'Rich Club',
 'VINCENT CHASE',
 'Eyewearlabs',
 'Rich Club',
 'ROADWAY',
 'The Tinted Story',
 'Rich Club',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'Rich Club',
 'Silver Kartz']

In [13]:

description = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in description:
    pro_des.append(i.text)
    
pro_des

[]

In [10]:

price = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price:
    price_in.append(i.text)
    
price_in

['₹1,999',
 '₹424',
 '₹149',
 '₹549',
 '₹449',
 '₹69',
 '₹449',
 '₹569',
 '₹149',
 '₹199',
 '₹949',
 '₹549',
 '₹149',
 '₹675',
 '₹149',
 '₹144',
 '₹337',
 '₹594',
 '₹1,499',
 '₹219',
 '₹499',
 '₹3,129',
 '₹499',
 '₹159',
 '₹149',
 '₹299',
 '₹949',
 '₹524',
 '₹1,475',
 '₹199',
 '₹949',
 '₹1,236',
 '₹334',
 '₹149',
 '₹1,499',
 '₹125',
 '₹849',
 '₹879',
 '₹399',
 '₹199']

In [11]:
import pandas as pd
df = pd.DataFrame({'Brand':brand_name,'Price':price_in})
df

               Brand   Price
0        john jacobs  ₹1,999
1          ROYAL SON    ₹424
2               SRPM    ₹149
3           Fastrack    ₹549
4           Fastrack    ₹449
5              NuVew     ₹69
6          ALFATOORE    ₹449
7      VINCENT CHASE    ₹569
8            ROADWAY    ₹149
9            ROADWAY    ₹199
10     VINCENT CHASE    ₹949
11     VINCENT CHASE    ₹549
12         Elligator    ₹149
13            AISLIN    ₹675
14           ROADWAY    ₹149
15           PC STAR    ₹144
16      Singco India    ₹337
17         ROYAL SON    ₹594
18  The Tinted Story  ₹1,499
19           ROADWAY    ₹219
20      Singco India    ₹499
21       john jacobs  ₹3,129
22          Fastrack    ₹499
23         Elligator    ₹159
24         Elligator    ₹149
25         Rich Club    ₹299
26     VINCENT CHASE    ₹949
27         ROYAL SON    ₹524
28    Gio Collection  ₹1,475
29         Rich Club    ₹199
30     VINCENT CHASE    ₹949
31       Eyewearlabs  ₹1,236
32         Rich Club    ₹334
33           ROADWAY    ₹149
34  The Tinted Story  ₹1,499
35         Rich Club    ₹125
36     VINCENT CHASE    ₹849
37     VINCENT CHASE    ₹879
38         Rich Club    ₹399
39      Silver Kartz    ₹199

In [ ]:
# Answer 5

In [16]:
driver = webdriver.Chrome()

In [17]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/p/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZE3ENS&marketplace=FLIPKART&q=i+phone+11&store=tyy%2F4io&srno=s_1_3&otracker=AS_Query_OrganicAutoSuggest_8_3_na_na_na&otracker1=AS_Query_OrganicAutoSuggest_8_3_na_na_na&fm=organic&iid=172cef9d-cb9a-416a-a868-b48f4241bc7b.MOBFWQ6BXGJCEYNY.SEARCH&ppt=hp&ppn=homepage&ssid=sfq744dff40000001702229683726&qH=f2b0d47636762520")

In [18]:
ratings_in = []
review_in = []
full_in = []

In [20]:
rating = driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rating:
    ratings_in.append(i.text)

In [21]:
review = driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in review:
    review_in.append(i.text)

In [22]:
fullstat = driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in fullstat:
    full_in.append(i.text)

In [23]:
import pandas as pd
df = pd.DataFrame({'Rating':ratings_in,'Review':review_in,'Full Review':full_in})
df

,Rating,Review,Full Review
0,5,Classy product,Camera is awesome\nBest battery backup\nA perf...
1,5,Worth every penny,Feeling awesome after getting the delivery of ...
2,5,Perfect product!,Photos super
3,5,Brilliant,very good camera quality
4,5,Best in the market!,Good Camera
5,5,Terrific,Very very good
6,5,Wonderful,This is amazing at all
7,5,Terrific purchase,Value for money 😍
8,5,Terrific purchase,Value for money 🖤🖤
9,5,Fabulous!,Super🔥 and good performance 👌❤️

In [ ]:
# Answer 6

In [24]:
driver = webdriver.Chrome()

In [25]:
driver.get("https://www.flipkart.com/")

In [28]:
product = driver.find_element(By.CLASS_NAME,"Pke_EE")
product.send_keys('sneaker')

In [29]:
search = driver.find_element(By.CLASS_NAME,"_2iLD__")
search.click()

In [30]:
brand_in = []
pro_des = []
price_pr = []

In [31]:
brond = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brond:
    brand_in.append(i.text)

In [33]:
decriptio = driver.find_elements(By.XPATH,'//div[@class="_2B099V"]')
for i in decriptio:
    pro_des.append(i.text)

In [34]:
priceing = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in priceing:
    price_pr.append(i.text)

In [35]:
import pandas as pd
df = pd.DataFrame({'Brand':brand_in,'Description':pro_des,'Price':price_in})
df

              Brand                                        Description   Price
0          URBANBOX  URBANBOX\nTrending Stylish Casual Outdoor Snea...  ₹1,999
1              aadi  aadi\nSynthetic Leather |Lightweight|Comfort|S...    ₹424
2              PUMA  PUMA\nPuma Men White Black Colourblocked IDP S...    ₹149
3              PUMA             PUMA\nSkipper Sneakers For Men\n₹3,999    ₹549
4              Xtep        Xtep\nSneakers For Men\n₹2,899₹4,99942% off    ₹449
5         Deals4you     Deals4you\nSneakers For Women\n₹399₹99960% off     ₹69
6          RED TAPE  RED TAPE\nSneaker Casual Shoes For Men | Soft ...    ₹449
7              PUMA  PUMA\nPuma Men White Black Colourblocked IDP S...    ₹569
8              NIKE  NIKE\nDownshifter 11 Road Running Sneakers For...    ₹149
9            Labbin  Labbin\nCasual Sneakers ColourFul Block Shoes ...    ₹199
10  U.S. POLO ASSN.  U.S. POLO ASSN.\nCLARKIN Sneakers For Men\n₹1,...    ₹949
11          BIG FOX  BIG FOX\nBig Fox Warrior -1 Sneakers For Men\n...    ₹549
12           CAMPUS  CAMPUS\nANNIE Sneakers For Women\n₹989₹1,39929...    ₹149
13             PUMA  PUMA\nShuffle Ultra Sneakers For Men\n₹2,300₹4...    ₹675
14             aadi  aadi\nMesh| Lightweight| Premiun| Comfort| Sum...    ₹149
15             PUMA  PUMA\nCruise Rider Silk Road Sneakers For Wome...    ₹144
16             PUMA  PUMA\nZod Runner V3 Sneakers For Men\n₹1,047₹3...    ₹337
17             PUMA  PUMA\nTread Run Sneakers For Men\n₹2,070₹4,499...    ₹594
18  U.S. POLO ASSN.  U.S. POLO ASSN.\nMADRYN 2.O Sneakers For Men\n...  ₹1,499
19             PUMA  PUMA\nTread Run Sneakers For Men\n₹1,710₹4,499...    ₹219
20         RED TAPE    RED TAPE\nSneakers For Men\n₹1,039₹5,49981% off    ₹499
21          BIG FOX  BIG FOX\nBig Fox Warrior -1 Sneakers For Men\n...  ₹3,129
22             PUMA  PUMA\nHustle V2 Sneakers For Men\n₹1,047₹3,999...    ₹499
23             PUMA  PUMA\nSuede Classic XXI Sneakers For Men\n₹2,2...    ₹159
24             aadi  aadi\nLightweight,Comfort,Summer,Trendy,Walkin...    ₹149
25         Vellinto  Vellinto\nCasual Sneakrs For Men Sneakers For ...    ₹299
26         WOODLAND    WOODLAND\nSneakers For Men\n₹1,759₹3,59551% off    ₹949
27         RED TAPE    RED TAPE\nSneakers For Men\n₹1,349₹5,39975% off    ₹524
28         RED TAPE  RED TAPE\nMen's Essential Casual Sneakers- Lac...  ₹1,475
29           Layasa          Layasa\nSneakers For Men\n₹296₹99970% off    ₹199
30         RED TAPE  RED TAPE\nSneaker Casual Shoes for Men | Soft ...    ₹949
31           VENDOZ  VENDOZ\nCasual Stylish Trending Sneakers For W...  ₹1,236
32             aadi          aadi\nSneakers For Men\n₹326₹1,99983% off    ₹334
33           VENDOZ        VENDOZ\nSneakers For Women\n₹499₹99950% off    ₹149
34          Rowlans  Rowlans\ncomfortable,durable,sport shoe,snerak...  ₹1,499
35           BRUTON  BRUTON\nLightweight Pack Of 1 Trendy Sneakers ...    ₹125
36             aadi            aadi\nSneakers For Men\n₹319₹99968% off    ₹849
37             PUMA  PUMA\nTrinity V1 Sneakers For Men\n₹2,070₹4,49...    ₹879
38             PUMA  PUMA\nRungryp Sneakers For Men\n₹1,900₹4,99961...    ₹399
39           ADIDAS  ADIDAS\nBrodo Sneakers For Men\n₹2,350₹4,99952...    ₹199

In [ ]:
#answer 10

In [36]:
driver = webdriver.Chrome()

In [37]:
driver.get("https://www.motor1.com/")

In [38]:
product = driver.find_element(By.CLASS_NAME,"m1-search-panel-input m1-search-form-text")
product.send_keys('50 most expensive car')

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"css selector","selector":".m1-search-panel-input m1-search-form-text"}
  (Session info: chrome=120.0.6099.71); For documentation on this error, please visit: https://www.selenium.dev/documentation/webdriver/troubleshooting/errors#no-such-element-exception
Stacktrace:
	GetHandleVerifier [0x00007FF69F054D02+56194]
	(No symbol) [0x00007FF69EFC04B2]
	(No symbol) [0x00007FF69EE676AA]
	(No symbol) [0x00007FF69EEB16D0]
	(No symbol) [0x00007FF69EEB17EC]
	(No symbol) [0x00007FF69EEF4D77]
	(No symbol) [0x00007FF69EED5EBF]
	(No symbol) [0x00007FF69EEF2786]
	(No symbol) [0x00007FF69EED5C23]
	(No symbol) [0x00007FF69EEA4A45]
	(No symbol) [0x00007FF69EEA5AD4]
	GetHandleVerifier [0x00007FF69F3CD5BB+3695675]
	GetHandleVerifier [0x00007FF69F426197+4059159]
	GetHandleVerifier [0x00007FF69F41DF63+4025827]
	GetHandleVerifier [0x00007FF69F0EF029+687785]
	(No symbol) [0x00007FF69EFCB508]
	(No symbol) [0x00007FF69EFC7564]
	(No symbol) [0x00007FF69EFC76E9]
	(No symbol) [0x00007FF69EFB8094]
	BaseThreadInitThunk [0x00007FFBB3907344+20]
	RtlUserThreadStart [0x00007FFBB54E26B1+33]